include README.md
include LICENSE
include requirements.txt
recursive-include dsrnascan/tools *
recursive-include dsrnascan/models *

prune overlap_analyzer
prune .github

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.parquet
