include README.md
include LICENSE
include requirements.txt
recursive-include dsrnascan/tools *
recursive-include dsrnascan/models *

global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
